.movieListWrapper {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 1200px) {
        width: 700px;
    }

    @media screen and (max-width: 1000px) {
        width: 500px;
    }

    @media screen and (max-width: 800px) {
        width: 300px;
    }

    .loading {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .movieList {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px 15px;

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .controllerPaginationBase {
        margin: 0 auto;
        width: 25%;
        display: flex;
        justify-content: space-between;
    }

    .controllerPaginationFooter {
        width: 200px;
    }
    .controllerPaginationHeader {
        width: 400px;
    }
}